/vue/element-form/node_modules/
/vue/project-cube/node_modules/
/vue/router/node_modules/
/vue/shopping-cart/node_modules/
/vue/vue-ts/node_modules/
/vue/vuex/node_modules/
/vue/project/node_modules/
/vue/vue/node_modules/
/vue/nuxt-test/node_modules/
/node/node_modules/
/node/egg-example/node_modules/
/project/back/node_modules/
/project/front/node_modules/
/React/reactbase/node_modules/
/React/react-component/node_modules/