{{extend './layout/main.html'}}
{{block 'content'}}
<div class="container">
    <form id="form" method="post" action="/">
        <div class="form-group">
            <label for="">歌曲标题</label>
            <input type="text" name="title" class="form-control" placeholder="请输入歌曲标题">
        </div>
        <div class="form-group">
            <label for="">歌曲时长</label>
            <input type="text" name="time" class="form-control" placeholder="请输入歌曲时长">
        </div>
        <div class="form-group">
            <label for="">歌手</label>
            <input type="text" name="singer" class="form-control" placeholder="请输入歌手姓名">
        </div>
        <div class="form-group">
            <label for="">歌曲文件</label>
            <input type="file" name="file">
            <p class="help-block">请上传歌曲文件.</p>
        </div>
        <div class="form-group">
            <label for="">歌词文件</label>
            <input type="file" name="filelrc">
            <p class="help-block">请上传歌词文件.</p>
        </div>
        <button type="submit" class="btn btn-success">点击添加</button>
    </form>
</div>
<script>
    // 提交事件
    $('#form').on('submit', function(e) {
        e.preventDefault();
        // 获取所有的input
        var inputs = document.querySelectorAll('input');
        // 该序列化方式只能提交文本数据，文件数据不能获取
        // var formTextDataStr = $(this).serialize();

        // FormData 文件的数据提交
        // new FormData().append(key, value)
        var fd = new FormData();
        // 装载数据
        fd.append('title', inputs[0].value);
        fd.append('singer', inputs[2].value);
        fd.append('time', inputs[1].value);

        // 传文件对象的方式(files这个属性是原生DOM的属性，jq获取的没有该属性)
        fd.append('file', inputs[3].files[0]);
        // 是一个文件对象
        fd.append('filelrc', inputs[4].files[0]);

        // 发请求
        $.ajax({
            url: '/music/add-music',
            type: 'post',
            dataType: 'json',
            data: fd,
            // Uncaught TypeError: Illegal invocation
            // jq默认的请求头：键值对的头 => 不要键值对的头 enctype=“multipart/form-data”
            contentType: false, // 不要默认contentType
            processData: false,
            // jq也会将数据转换成key=value
            success: function(data) {
                if(data.code === '001') {
                    if(confirm('添加成功，是否去听音乐？')){
                        window.location = '/music/index';
                    } else {
                        alert(data.msg);
                    }
                }
            }
        });
    });
</script>
{{/block}}