<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    列表：
    <ul>
        {{each students}}
        <li>
            {{$value.name}}
            <img src="{{$value.imgName}}" width="100px" height="100px">
        </li>
        {{/each}}
    </ul>
    <form action="/add" method="POST" enctype="multipart/form-data">
        <input type="text" name="name">
        <input type="file" name="imgName">
        <button>添加</button>
    </form>
</body>
</html>