<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="bootstrap.css" rel="stylesheet">
    <script src="jquery-3.1.0.js"></script>
    <script src="bootstrap.js"></script>
    <script src="vue.js"></script>
    <script>
        window.onload = function ()
        {
            new Vue({
                el: '#box',
                data: {
                    myData: [],
                    name: '',
                    age: '',
                    nowIndex: -100
                },
                methods: {
                    add: function ()
                    {
                        this.myData.push({
                            name: this.name,
                            age: this.age
                        });
                        this.name = '';
                        this.age = '';
                    },
                    deleteMsg: function (n)
                    {
                        if(n==-2)
                        {
                            this.myData = [];
                        }
                        else
                        {
                            this.myData.splice(n, 1);
                        }
                    }
                }
            });
        }
    </script>
</head>
<body>
    <div class="container" id="box">
        <form role="form">
            <div class="form-group">
                <label for="usergroup">用户名：</label>
                <input type="text" id="name" class="form-control" placeholder="输入用户名" v-model="name">
            </div>
            <div class="form-group">
                <label for="age">年 龄：</label>
                <input type="text" id="age" class="form-control" placeholder="输入年龄" v-model="age">
            </div>
            <div class="form-group">
                <input type="button" value="添加" class="btn btn-primary" v-on:click="add()">
                <input type="button" value="重置" class="btn btn-danger">
            </div>
            <hr>
            <table class="table table-bordered table-hover">
                <caption class="h3 text-info text-center">用户信息表</caption>
                <tr class="text-danger">
                    <th class="text-center">序号</th>
                    <th class="text-center">名字</th>
                    <th class="text-center">年龄</th>
                    <th class="text-center">操作</th>
                </tr>
                <tr class="text-center" v-for="item in myData">
                    <td>{{$index + 1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.age}}</td>
                    <td>
                        <input type="button" value="删除" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#layer" v-on:click="nowIndex=$index">
                    </td>
                </tr>
                <tr v-show="myData.length!=0">
                    <td colspan="4" class="text-right">
                        <button class="btn btn-danger btn-sm" v-on:click="nowIndex='-2'">删除全部</button>
                    </td>
                </tr>
                <tr v-show="myData.length==0">
                    <td colspan="4" class="text-center text-muted">
                        <p>暂无数据...</p>
                    </td>
                </tr>
            </table>

            <!--模态框 弹出框-->
            <div role="dialog" class="modal fade bs-example-modal-sm" id="layer">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4>确认删除吗？</h4>
                        </div>
                        <div class="modal-body text-right">
                            <button class="btn btn-primary btn-sm" data-dismiss="modal">取消</button>
                            <button class="btn btn-danger btn-sm" data-dismiss="modal" v-on:click="deleteMsg(nowIndex)">确认</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>